<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Muma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MumaKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>MumaNetworking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>648F3FA01CBB2646005B377F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>648F3FB41CBB2646005B377F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>648F3FBF1CBB2646005B377F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A6316E1ED311F900FE6CB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A631861ED33B2000FE6CB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
